<!--The content below is only a placeholder and can be replaced.-->
<body>
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Shojumaru&display=swap" rel="stylesheet">
  <br>
  <div><br>
    <div class="body" style="text-align:center"><br><br>
      <h1>
        <br><br>
        Welcome to {{ title }}!
        <br><br>
      </h1>
      <hr>
      <br><br><br>
    </div>
  </div>
  <br><br><br>
  <router-outlet></router-outlet>
  <app-utilizers-portrait></app-utilizers-portrait>
</body>
