h1 {
  background-image: url(https://loveincorporated.blob.core.windows.net/contentimages/gallery/bde3cc55-940e-4c7d-bd65-18ba689ddb65-984f5cee-6c34-4417-8a0f-fb349f56dae2-Woodchip-and-Magnolia,-Flow-Marble-Effect-Blush.jpg);
  font-family: 'Shojumaru', cursive;
  color: rgb(44, 16, 0);
}
