input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid rgb(247, 206, 206);
  border-radius: 10px;
  font-size: 16px;
  background-color: rgb(247, 240, 240);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 8px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-right: 60%;
}

input[type=text]:focus {
  width: 100%;
}

* {
  box-sizing: border-box;
}
.col-container {
  display: table;
  width: 100%;
}

input:focus{
  outline: none;
}

.col {
  display: table-cell; 
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
.container-fluid {
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-micro-stereo-ppt-template-warm-tone-background-template-backgroundppt-backgroundmicro-stereosimplepinkthree-image_54366.jpg);
}