.home {
  /* background-image: url(https://i.pinimg.com/originals/41/77/bf/4177bfe634caae0466833b66e803bbea.jpg);
   */
} 

p {
  font-size: 20px;
  font-family: 'Julius Sans One', sans-serif;
  color: #66CC75;
}

.image {
  border-radius: 50%;
}

a {
  color: #69C;
  text-decoration: none;
}
a:hover {
  color: #F60;
}
h1 {
  font: 1.7em;
  line-height: 110%;
  color: #000;
}

input[type=search] {
outline: none;
color: #4a83c0;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}

input[type=search] {
  background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;
  margin-left: 30px;
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
  color: #4a83c0;
}
input::-webkit-input-placeholder {
  color: #4a83c0;
}


#search { 
  display:inline-block;
  margin-left: 30%; 
}
#search input[type=search] {

  cursor: pointer;
}
#search input[type=search]:hover {
  background-color: #fff;
}
#search input[type=search]:focus {
  width: 600px;
  padding-left: 32px;
  color: #4a83c0;
  background-color: #fff;
  cursor: auto;
}
